body {
    background-color: rgb(168, 195, 247);
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h1 {color:rgb(203, 228, 250);
    font-family: "Lora", serif;
}
h2 {color: cornsilk;
    font-family: "Lora", serif;
   }

nav { padding:10px;
      margin-bottom: 30px; }
a {color: cornsilk}
a:hover{
  background-color: cornflowerblue;
}

img {
text-align: center;
}


