body {
    background-color: rgb(168, 195, 247);
    color: rgb(91, 141, 170);
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h1 {color:rgb(50, 106, 155);
    font-family: "Lora", serif;
}
h2 {color: rgb(238, 233, 216);
    font-family: "Lora", serif;
   }

nav { padding:10px;
      margin-bottom: 30px; }
a {color: cornsilk}
a:hover{
  background-color: cornflowerblue;
}

